<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_page_2.css">
    <title>Loft TECH</title>
</head>
<body>
    <script src="script.js"></script>

    <div class="register-account-container">

        <h1>Create your account</h1>

        <!--Colocar o name antes do input -->

        <div class="name">

            Seu nome: <input type="text" id="input-name"/>

        </div>

        <div class="email" onclick="EmailValidation()">

            Seu email: <input type="text" id="input-email"/>

        </div>

        <div class="password">

            Crie uma senha: <input type="password" id="input-password" maxlength="20"/>

        </div>

        <div class="verify-password">

            Confirme a senha: <input type="password" id="verify-password" maxlength="20"/>

        </div>

        <button onclick="alerta()">Create</button>
            
    </div>
</body>
</html>